.switch {
  position: relative;
  width: 3rem;
  height: 1rem;
  border: none;
  background: transparent;
  cursor: pointer;
  outline: none;
  padding: 0;
  display: inline-flex;
  align-items: center;

  .track {
    position: absolute;
    width: 90%;
    height: 100%;
    border-radius: 999px;
    background-color: #e0e0e0; 
    transition: background-color 0.25s;
  }

  .thumb {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 20px;  
    height: 20px;
    border-radius: 100%;
    background: #fff;
    border: 2px solid #555;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.25s, background 0.25s, border 0.25s;

    .icon {
      font-size: 0.75rem;
      font-weight: bold;
      color: #fff;
    }
  }

  &.on {
    .track {
      background-color: #eaddff; 
    }
    .thumb {
      background: #6750a4; 
      border: none;
      border: 2px solid #6750a4;
      transform: translate(1.5rem, -50%); 
    }
  }

  &.off {
    .track {
      background-color: #e0e0e0; 
    }
    .thumb {
      background: #fff;
      border: 2px solid #555;
      transform: translate(0, -50%);
    }
  }

  &:hover:not(.disabled) {
    .thumb {
      border-color: #6750a4;
    }
  }

  &:focus-visible::after {
    content: "";
    position: absolute;
    top: -8px;
    left: -6px;
    right: -6px;
    bottom: -8px;
    border: 2px solid #6750a4;
    border-radius: 0; 
    pointer-events: none; 
  }

  &.disabled {
    opacity: 0.5;
    cursor: not-allowed;

    .thumb {
      border-color: #aaa;
      background: #ccc;
    }
  }
}
