<div class="select-container" [class.disabled]="disabled">
  <button
    type="button"
    class="select-trigger"
    [attr.aria-haspopup]="true"
    [attr.aria-expanded]="open"
    [attr.aria-disabled]="disabled"
    (click)="toggle()"
  >
    {{ selectedLabel }}
  </button>

  <ul
    *ngIf="open"
    role="listbox"
    class="select-options"
  >
    <li
      *ngFor="let opt of options; let i = index"
      role="option"
      [attr.aria-selected]="value === opt.value"
      [class.disabled]="opt.disabled"
      [class.focused]="i === focusedIndex"
      (click)="select(opt)"
    >
      {{ opt.label }}
    </li>
  </ul>
</div>
